@import "./root";

.container {
	padding: 2rem 1.25rem;
	width: min(100%, 792px);
	margin: 0 auto;
}

.hero {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 7.5rem;

	h2 {
		color: $gray;
		font-size: 1.25rem;
		font-weight: bold;
		text-align: center;
		position: relative;
		animation: showDown 0.5s ease forwards;
	}

	h3 {
		text-align: center;
		font-size: 1.5rem;
		position: relative;
		animation: showUp 0.5s ease forwards;

		.develop {
			background: linear-gradient(
				90deg,
				#ff008a,
				#bd00ff,
				#ff0000,
				#ff8400
			);
		}

		.design {
			background: linear-gradient(
				90deg,
				#155fce,
				#0086a4,
				#0062f4,
				#00f2ff
			);
		}

		.design,
		.develop {
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-size: 400% 400%;
			background-clip: text;
			animation: gradientMotion 15s ease infinite alternate;
		}
	}
}

.connections {
	display: flex;
	gap: 1rem;
}

.articles {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.meDescription,
.connections,
.articles {
	position: relative;
	animation: slideIn 0.5s ease forwards;
}

@keyframes gradientMotion {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes showDown {
	0% {
		top: -0.675rem;
		opacity: 0;
	}
	100% {
		top: 0rem;
		opacity: 1;
	}
}

@keyframes showUp {
	0% {
		top: 1rem;
		opacity: 0;
	}
	100% {
		top: 0rem;
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		left: 1rem;
		opacity: 0;
	}
	100% {
		left: 0rem;
		opacity: 1;
	}
}
