.section {
	display: flex;
	flex-direction: column;
	padding: 0.75rem 0;
	animation: show 0.3s ease forwards;

	h4 {
		font-size: 1rem;
		font-weight: bold;
		opacity: 0.4;
		margin-bottom: 1rem;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
