.showcase {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 3rem 0;

	.item {
		height: min(240px, calc(((100vw - 2.5rem) - 2rem) / 2));
		background: linear-gradient(90deg, #1ed2fc 0%, #015fdf 100%);
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: bold;
	}
}

@media (min-width: 792px) {
	.showcase {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
